*{
  margin: 0;
  padding: 0;
}
body {
    background: linear-gradient(135deg, #0b001a, #240032);
}


/* here section */
.hero-container {
 
  color: white;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 40px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HERO CONTENT */
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 120px;
}

.hero-text {
  max-width: 450px;
}

.hero-text h1 {
  font-size: 45px;
  line-height: 1.3;
}

.sub-text {
  margin: 25px 0;
  font-size: 18px;
  color: #ff00d4;
}

.cta-btn {
  padding: 14px 30px;
  background: linear-gradient(90deg, #ff00d4, #a900ff);
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* IMAGES */
.hero-images {
  /* display: flex;
  gap: 20px; */
  padding-right: 20px;
}

.hero-images img {
  width: 450px;

}

/* HOW IT WORK CSS */

.how-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 60px;
  color: white;
  min-height: 100vh;
}

.how-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.phone-wrapper {
  /* position: relative; */
}

.phone-wrapper img{
width: 400px;
height: 550px;
}

.phone-img {
  width: 320px;
  border-radius: 30px;
}

.badge-box {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 20px 30px;
  border-radius: 20px;
  display: flex;
  gap: 40px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.badge {
  text-align: center;
}

.badge img {
  width: 45px;
  margin-bottom: 5px;
}

.how-right {
  flex: 1;
  padding-left: 60px;
}

.how-right h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.how-right ul {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}

.extra-tips {
  margin-top: 25px;
  font-size: 14px;
  color: #e0c8ff;
}



/* CONTACT SECTION */

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 6%;
  color: #fff;
}

.contact-left {
  position: relative;
}

.contact-phone {
  width: 320px;
  border-radius: 20px;
}

.contact-card {
  position: absolute;
  bottom: -40px;
  left: 50px;
  background: #ffffff;
  border-radius: 20px;
  padding: 18px 22px;
  display: flex;
  align-items: center;
  gap: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.contact-item {
  text-align: center;
}

.contact-item p {
  margin-top: 6px;
  color: #000;
  font-size: 14px;
}

.contact-icon {
  font-size: 28px;
}

.contact-right {
  max-width: 500px;
}

.contact-right h2 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* CREATE ACCOUNT */

.create-account-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 6%;
  color: white;
  min-height: 100vh;
}

.create-left {
  width: 50%;
}

.create-left h1 {
  font-size: 45px;
  font-weight: bold;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 25px;
  color: #ccc;
}

.create-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-form label {
  font-size: 12px;
  background: #ff00c8;
  padding: 4px 10px;
  border-radius: 4px;
  width: max-content;
  font-weight: bold;
}

.create-form input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-bottom: 15px;
}

.create-btn {
  width: 200px;
  padding: 12px;
  border: none;
  background: #ff00c8;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.login-text {
  margin-top: 15px;
}

.login-text span {
  color: #ff00c8;
  cursor: pointer;
}

.terms {
  margin-top: 10px;
  font-size: 12px;
}

.terms span {
  color: #ff00c8;
}

.create-right img {
  width: 550px;
  border-radius: 20px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-images {
    justify-content: center;
    margin-top: 30px;
  }

  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

/* HOW IT WORKS */

   .how-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
      
  }

  .how-right {
    padding-left: 0;
    margin-top: 40px;
  }

  .badge-box {
    position: static;
    transform: none;
    margin-top: 20px;
  }
}
