*{
  margin: 0;
  
  padding: 0;
}
body {
    background: linear-gradient(135deg, #0b001a, #240032);
}
body, html {
  overflow-x: hidden;
}

/* here section */
.hero-container {
 
  color: white;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 40px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HERO CONTENT */
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 120px;
}

.hero-text {
  max-width: 450px;
}

.hero-text h1 {
  font-size: 45px;
  line-height: 1.3;
}

.sub-text {
  margin: 25px 0;
  font-size: 18px;
  color: #ff00d4;
}

.cta-btn {
  padding: 14px 30px;
  background: linear-gradient(90deg, #ff00d4, #a900ff);
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* IMAGES */
.hero-images {
  /* display: flex;
  gap: 20px; */
  padding-right: 20px;
}

.hero-images img {
  width: 450px;

}

/* HOW IT WORK CSS */

.how-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 60px;
  color: white;
  min-height: 100vh;
}

.how-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.phone-wrapper {
  /* position: relative; */
}

.phone-wrapper img{
width: 400px;
height: 550px;
}

.phone-img {
  width: 320px;
  border-radius: 30px;
}

.badge-box {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 20px 30px;
  border-radius: 20px;
  display: flex;
  gap: 40px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.badge {
  text-align: center;
}

.badge img {
  width: 45px;
  margin-bottom: 5px;
}

.how-right {
  flex: 1;
  padding-left: 60px;
}

.how-right h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.how-right ul {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}

.extra-tips {
  margin-top: 25px;
  font-size: 14px;
  color: #e0c8ff;
}



/* CONTACT SECTION */

/* CONTACT SECTION */
.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 60px;
  color: white;
  position: relative;
  gap: 80px;
}

/* LEFT PHONE IMAGE */
.contact-left {
  position: relative;
}

.contact-phone {
  width: 340px;
  border-radius: 20px;
}

/* WHITE CARD */
.contact-card {
  position: absolute;
  left: 190px;
  top: 180px;
  width: 310px;
  background: white;
  padding: 20px 30px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.card-item {
  text-align: center;
}

.card-item span {
  font-size: 30px;
  display: block;
}

.card-item p {
  font-size: 13px;
  margin-top: 5px;
  color: black;
}

/* RIGHT SIDE */
.contact-right h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-bottom: 15px;
  gap: 12px;
}


/* CREATE ACCOUNT */

.create-account-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 6%;
  color: white;
  min-height: 100vh;
}

.create-left {
  width: 50%;
}

.create-left h1 {
  font-size: 45px;
  font-weight: bold;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 25px;
  color: #ccc;
}

.create-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-form label {
  font-size: 12px;
  background: #ff00c8;
  padding: 4px 10px;
  border-radius: 4px;
  width: max-content;
  font-weight: bold;
}

.create-form input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-bottom: 15px;
}

.create-btn {
  width: 200px;
  padding: 12px;
  border: none;
  background: #ff00c8;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.login-text {
  margin-top: 15px;
}

.login-text span {
  color: #ff00c8;
  cursor: pointer;
}

.terms {
  margin-top: 10px;
  font-size: 12px;
}

.terms span {
  color: #ff00c8;
}

.create-right img {
  width: 550px;
  border-radius: 20px;
}
/* LOGIN */
.auth-container {
  display: flex;
  justify-content: space-between;
  padding: 100px 80px;
  color: white;
}

.auth-left {
  max-width: 450px;
}

.auth-left h1 {
  font-size: 42px;
  font-weight: bold;
}

.welcome-text {
  margin-bottom: 30px;
  line-height: 1.4;
}

label {
   display: block;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
}

.auth-btn {
  margin-top: 25px;
  padding: 12px 35px;
  background: #d926ff;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
.error-text {
  background: rgba(255, 0, 0, 0.2);
  padding: 10px;
  border-left: 4px solid red;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #ff8080;
}
.switch-text {
  margin-top: 20px;
}

.switch-text a {
  color: #ff00ff;
}

.terms-text {
  margin-top: 20px;
  font-size: 13px;
}

.terms-text span {
  color: #ff00ff;
}

/* RIGHT IMAGE */
.auth-right {
  display: flex;
   justify-content: center;
  align-items: center;
}

.auth-phone {
  width: 320px;
  border-radius: 25px;
  animation: fadeIn 1s ease forwards;

}

/* CREATE BILL PAGE  */


.createbill-page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #1a0033, #000010);
  color: white;
  overflow: none;
}

.createbill-container {
  display: flex;
  width: 100%;
  padding: 40px;
  overflow: none;
}

.createbill-images {
  width: 45%;
  display: flex;
  gap: 20px;
}

.createbill-images img {
  width: 32%;
  border-radius: 20px;
  height: 430px;
  object-fit: cover;
 
  

}

.createbill-form {
  width: 55%;
  padding-left: 40px;
}

.createbill-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.createbill-title .plus {
  font-size: 45px;
  color: #ff2bd8;
  margin-right: 10px;
}

.createbill-form label {
  margin-top: 10px;
  /* display: block; */
  font-size: 14px;
}

input {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.split-header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 80%;
}

.participant-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.participant-row input {
  width: 24%;
}

.add-btn {
  margin-top: 15px;
  padding: 8px 15px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: #ff2bd8;
  color: white;
}

.next-btn {
  display: block;
  margin-top: 25px;
  padding: 10px 35px;
  background: #ff2bd8;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255,255,255,0.4);
  border-top: 3px solid white;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
/* UNLUCK LINK */
.unlock-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 40px 60px;
  background: linear-gradient(135deg, #0b001a, #240032);
  color: white;
  text-align: center;
}

.unlock-title {
  font-size: 40px;
  font-weight: bold;
}

.underline {
  width: 80px;
  height: 3px;
  background: #ff00aa;
  margin: 10px auto 40px auto;
  border-radius: 2px;
}

/* Icons row */
.unlock-icons {
  display: flex;
  justify-content: center;
  margin: 20px auto 50px auto;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1000px;
}

.icon-box {
  width: 220px;
  text-align: center;
}

.icon-circle {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #ff00aa;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  line-height: 45px;
  margin-bottom: 10px;
}

/* Phones & button area */
.unlock-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
}

.unlock-phone {
  height: 420px;
  width: auto;
}

.unlock-center {
  text-align: center;
}

.unlock-btn {
  background: #ff00aa;
  padding: 12px 35px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

.unlock-btn:hover {
  transform: scale(1.05);
}

.unlock-note {
  opacity: 0.8;
}

/* Responsive Fix */
@media (max-width: 900px) {
  .unlock-content {
    flex-direction: column;
  }

  .unlock-phone {
    height: 300px;
  }
}


/* --- ANIMATIONS --- */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(25px); }
  to { opacity: 1; transform: translateY(0); }
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-images {
    justify-content: center;
    margin-top: 30px;
  }

  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

/* HOW IT WORKS */

   .how-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
      
  }

  .how-right {
    padding-left: 0;
    margin-top: 40px;
  }

  .badge-box {
    position: static;
    transform: none;
    margin-top: 20px;
  }
   .auth-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .auth-right {
    margin-top: 30px;
  }

  .auth-phone {
    width: 250px;
  }

  input {
    font-size: 14px;
  }
}
